a,
a.navbar-item:hover,
a.navbar-link:hover,
.navbar-dropdown a.navbar-item:hover {
    color: hsl(171, 100%, 41%);
}

#jumpButton {
    border-radius: 100px;
    box-shadow: 5px 5px 10px grey;
    display: block;
    float: right;
    position: fixed;
    z-index: 9999;
    bottom: 10%;
    right: 10%;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.navbar-link::after {
    border-color: hsl(171, 100%, 41%);
}


.show {
    transition: opacity 200ms;
}

.hide {
    opacity: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
