#personalImage {
    border-radius: 100px;
    animation: fadein 2s;
    box-shadow: 0px 5px 10px black;
}

.hidden {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
